<div class="d-flex justify-content-between align-items-center gap-4 flex-wrap">
    <h1 class="h6 mb-0 text-uppercase"><%= title %></h1>
</div>
<hr/>
<div class="card">
    <div class="card-body">
        <form action="<%= routes.adminProducts %>" class="row g-3" method="POST" enctype="multipart/form-data">
            <!-- image -->
            <%- include('../../partials/input.ejs', { 
                type: 'file',
                name: 'image', 
                title: 'Resim', 
                value: old?.image, 
            }) %>

            <!-- name -->
            <%- include('../../partials/input.ejs', { 
                name: 'name', 
                title: 'Adı', 
                value: old?.name, 
            }) %>

            <!-- price -->
            <%- include('../../partials/input.ejs', { 
                name: 'price', 
                title: 'Fiyat', 
                value: old?.price, 
            }) %>

            <!-- short_description -->
            <%- include('../../partials/input.ejs', { 
                name: 'short_description', 
                title: 'Kısa Açıklama', 
                value: old?.short_description, 
            }) %>

            <%- include('../../partials/textarea.ejs', { 
                name: 'description', 
                title: 'Açıklama', 
                value: old?.description, 
            }) %>

            <!-- btn submit -->
            <%- include('../../partials/btn-submit.ejs') %>
        </form>
    </div>
</div>